.card-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    img {
        border: 1px solid $theme;
        max-width: 100%;
    }
}

figcaption {
    font-size: 14px;
}

.example {
    margin-bottom: 40px !important;
}
#example-2 {
    @media screen and (max-width: 1200px) {
        figure {
            margin: 0 auto;
        }
    }
    img {
        border: 1px solid $theme;
        max-width: 100%;
    }
}
table {
    width: 100%;
    text-align: center;
}