.card-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    img {
        border: 1px solid $theme;
        max-width: 100%;
    }
}

figcaption {
    font-size: 14px;
}

.example {
    margin: 30px auto 60px !important;
    position: relative;
    // margin-top: 30px !important;
    .tech {
        position: absolute;
        top: -30px;
        right: 40px;
        background-color: $background;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $theme;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        font-size: 35px;
    }
}

#example-2 {
    @media screen and (max-width: 1200px) {
        figure {
            margin: 0 auto;
        }
    }
    img {
        border: 1px solid $theme;
        max-width: 100%;
    }
}
table {
    width: 100%;
    text-align: center;
    thead {
        background-color: $theme-light;
    }
    tbody {
        background-color: $theme-lighter;
    }
}