.page-mob-nav {
    background-color: $theme;
}

#about, 
#coding,
#scs {
    section {
        width: 94%;
        margin: 0 auto;
    }
}

.header {
    &-image {
        position: relative;
        background-color: $theme;
        height: 60px;
    }
    &-text {
        color: $background;
        text-align: center;
        margin-top: 0;
        padding-top: 10px;
        margin-left: 54px;
    }
}