.page-mob-nav {
    background-color: $theme;
}

#about, 
#coding,
#scs {
    section {
        width: 94%;
        margin: 0 auto;
    }
}

.header {
    &-image {
        position: relative;
        background-color: $theme;
        height: 116px;
    }
    &-text {
        color: $background;
        text-align: center;
        margin-top: 0;
        margin-left: 100px;
        margin-right: 5px;
        padding-top: 15px;
    }
}