html {
    overflow-x: hidden;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .hero-image {
        background-image: url('/img/pexels-daria-shevtsova-1884303-lg-tiny.jpg');
    }
    .project {
        display: block;
    }
}

@media screen and (min-width: 992px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .name {
        margin-left: -15px;
    }
}