/* Media Queries */
@media screen and (min-width: 576px) {
    #hero h1 {
        font-size: 48px;
    }
    .hero-text p {
        font-size: 24px;
    }
    #projects {
        margin-top: 20px;
    }
    .project {
        width: 47.5%;
    }
    .scroll-btn p {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    .mobile-nav {
        display: none;
    }
    .main-nav {
        display: block;
    }
    header,
    main,
    footer {
        margin-left: 180px;
    }
}

@media screen and (min-width: 992px) {
    #projects, #contact {
        margin-top: 40px;
    }
    .contact-blurb {
        width: 25%;
    }
    .contact-form {
        width: 70%;
        margin-top: 20px;
    }
    .name {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .form-field {
            width: 49%;
        }
    }
    #last_name {
        margin-left: auto;
    }
}

@media screen and (min-width: 1200px) {
    #projects {
        margin-top: 50px;
    }
    .project {
        width: 32%;
    }
}