/* Media Queries */
@media screen and (max-width: 350px) {
    h1 {
        font-size: 20px;
        padding-top: 8px;
    }
}
@media screen and (min-width: 576px) {
    #hero h1 {
        font-size: 48px;
    }
    .hero-text p {
        font-size: 24px;
    }
    .header-text {
        margin: 0;
    }
    #projects {
        margin-top: 20px;
    }
    .project {
        width: 47.5%;
    }
    .scroll-btn p {
        font-size: 20px;
    }
    // #treehouse, 
    // #netmatters {
    //     padding-top: 5px;
    // }
    .netmatters-logo {
        display: block;
        &-sm {
            display: none;
        }
    }
}

@media screen and (max-width: 767px) {
    .header-bar {
        position: fixed;
        width: 100vw;
    }
    header {
        padding-bottom: 60px;
    }
}

@media screen and (min-width: 768px) {
    .mobile-btn {
        display: none;
    }
    .main-nav {
        display: block;
    }
    header,
    main,
    footer {
        margin-left: 180px;
    }
    .header {
        &-bar {
            height: 143px;
        }
        &-text {
            padding-top: 53px;
        }
    }
    #about,
    #coding {

    min-height: calc(100vh - 143px);}
}

@media screen and (min-width: 992px) {
    #projects, #contact {
        margin-top: 40px;
    }
    .contact-blurb {
        width: 25%;
    }
    #contact-form {
        width: 70%;
        margin-top: 20px;
    }
    .name {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .form-field {
            width: 49%;
        }
    }
    #last_name {
        margin-left: auto;
    }
    .netmatters-logo {
        padding-right: 45px;
    }
}

@media screen and (min-width: 1200px) {
    #projects {
        margin-top: 50px;
    }
    .project {
        width: 32%;
    }
    #about,
    #coding {
        padding: 40px;
        section {
            padding: 40px;
        }
    }
}