.mobile-btn:hover {
    box-shadow: 0 0 2px 2px $background;
}

.initials:hover {
    color: $background;
    background-color: $theme;
}

.socials i:hover {
    color: $background;
    background-color: $theme;
    border-radius: 50%;
}

input[type="submit"]:hover {
    color: $background;
    background-color: $body-text;
}

.project-img:hover,
.p-link:hover {
    color: $project-link;
    img {
        opacity: 0.7;
        box-shadow: 0 0 5px 5px $project-link;
    }
}

.profile:hover {
    background-color: darken($color: $background, $amount: 15%);
}