// Variables
$theme: #111820;
$theme-light: lighten($color: $theme, $amount: 65%);
$theme-lighter: lighten($color: $theme, $amount: 75%);
$background: white;
$overlay: #fff;
$body-text: #252525;
$form-background: #dadbdd;
$treehouse: #58c162;
$netmatters: #333645;
$project-link: #9b9a9a;
$head-height: 60px;