#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 92%;
    margin: 0 auto;
}

.contact-blurb {
    width: 100%;
}

.bold {
    font-size: 20px;
    font-weight: 600;
}

.contact-form {
    width: 100%;
}

.form-field {
    background-color: $form-background;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
}

textarea {
    resize: none;
}

input[type=submit] {
    font-size: 18px;
    background-color: transparent;
    color: $body-text;
    font-weight: 600;
    padding: 15px 60px;
    margin: 8px 0;
    border: 3px solid $body-text;
    border-radius: 6px;
    max-width: 100%;
    cursor: pointer;
}