#hero {
    h1 {
        font: {
            weight: 600;
            size: 24px;
        }
    }
}

.hero {
    &-image {
        background: {
            image: linear-gradient(180deg, transparent 25%, rgba($theme, 0.6)), url('../img/pexels-daria-shevtsova-1884303-sm-tiny.jpg');
            position: center;
            repeat: no-repeat;
            size: cover;
        }
        height: 100vh;
        position: relative;
    }
    &-text {
        text-align: center;
        position: absolute;
        width: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $overlay;
        p {
            font-size: 18px;
        }
    }
    .scroll-btn {
        top: 93%;
        color: $overlay;
    }
}