.mobile-nav {
    position: absolute;
    color: $overlay;
    height: auto;
    z-index: 5;
    font-size: 32px;
    border: 3px solid $overlay;
    margin: 5px;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

.hidden-nav {
    text-align: center;
    overflow-y: auto;
    ul {
        padding-top: 40px;
    }
    li {
        padding: 10px 0;
        margin: 20px 0;
        &:last-child {
            border-top: 3px solid $theme;
            border-bottom: 3px solid $theme;
            a {
                display: block;
            }
            &:hover {
                background-color: $theme;
                color: $overlay;
            }
        }
        &:not(:last-child) a:hover {
            .link {
                border-bottom: 3px solid $theme;
            }
        }
    }
    .initials {
        border-top: 3px solid $theme;
    }
}