#projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 92%;
    margin: 0 auto;
    max-width: none;
    @media screen and (min-width: 1750px) {
        justify-content: space-evenly;
    }
}

.project {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 640px;
    height: auto;
    margin: 20px 0;
    h3 {
        font-size: 24px;
        margin: 10px 0;
    }
    img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }
    &-img {
        order: -1;
    }
    .p-link {
        font-weight: 600;
        font-size: 12px;
        margin-bottom: 10px;
    }
    &:hover,
    &:active {
        .detail {
            visibility: visible;
        }
    }
}

.detail {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    background-color: #252525;
    color: white;
    padding: 20px;
    top: 100%;
    border-radius: 8px;
    font-size: 14px;
    &::after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -25px;
        border-width: 25px;
        border-style: solid;
        border-color: transparent transparent #252525 transparent;
    }
    &:hover {
        visibility: visible;
    }
}